@import "src/willy";
* {
  box-sizing: border-box;
}

html, body {
  background-color: $background-color;
  color: $text-color-primary;
  font-size: 1em;
  font-family: 'Ubuntu', 'Helvetica', sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}
.main-wrapper {
  margin: 10px 8px;
}
.card {
  background: $card-background-color;
  float: left;
  padding: 20px 0 0 0;
  margin: 10px 12px;
  width: 300px;
  text-align: center;
  border-radius: $border-radius;
  position: relative;

  &__plus {
    right: 0;
    top:14px;
    font-size: 1.5em;
    position: absolute;
    margin-right: 11px;


    &-sign {
      border: 2px solid $text-color-secondary;
      color: $text-color-secondary;
      border-radius: 50%;
      line-height: 0.6em;
      width: 23px;
      height: 23px;
      display: block;
      &:hover {
        border-color: lighten($text-color-secondary, 20%);
        color: lighten($text-color-secondary, 20%);
      }
    }
  }

  &__heading {
    text-transform: uppercase;
    font-size: 1.06em;
    margin-top: 11px;
    font-weight: 600;
  }
  &__doughnut-chart {
    position: relative;
    width: 203px;
    height: 203px;
    text-align: center;
    margin: 38px auto 57px;
  }
  &__doughnut-part {
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0, 203px, 203px, 100px);
  }
  &__doughnut-inner {
    border-radius: 50%;
    clip: rect(0px, 100px, 203px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &__doughnut-part--ios {
    transform: rotate(-10deg);
    .card__doughnut-inner {
      background: $willy-red;
      transform: rotate(76deg);
    }
  }
  &__doughnut-part--mac {
    transform: rotate(66deg);
    .card__doughnut-inner {
      background: $willy-green;
      transform: rotate(173deg);
    }
  }
  &__doughnut-part--win {
    transform: rotate(239deg);
    .card__doughnut-inner {
      background: $willy-blue;
      transform: rotate(79deg);
    }
  }
  &__doughnut-part--linux {
    transform: rotate(-42deg);
    .card__doughnut-inner {
      background: $willy-yellow;
      transform: rotate(32deg);
    }
  }
  &__doughnut-middle-circle {
    background: #394264;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    height: 133px;
    justify-content: center;
    line-height: 1.16em;
    margin: 35px;
    position: absolute;
    text-transform: uppercase;
    width: 133px;
    z-index: 99;
  }
  &__doughnut-month {
    color: $text-color-primary;
    font-weight: 600;
  }
  &__doughnut-year {
    color: $text-color-secondary;
    font-size: 1.1em;
    padding-top: 3px;
  }

  &__info {
    margin-bottom: 31px;
    margin-top: 23px;
  }
  &__profile-image {
    border-radius: 50%;
    width: 160px;
    border: 6px solid $button-background-color;
  }
  &__profile-name {
    font-size: 1.5em;
    margin-top: 4px;
    font-weight: 600;
  }
  &__profile-text {
    margin: 26px 27px 32px 31px;
    color: $text-color-secondary;
    line-height: 1.25em;
  }

  &__bottom-buttons {
    color: $text-color-secondary;
  }
  &__button-wrapper {
    border-right: 1px solid $card-background-color;
    overflow: hidden;
    float: left;
    display: block;
    width: 33.33%;

    &:first-child {
      border-radius: 0 0 0 $border-radius;
    }

    &:last-child {
      border-radius: 0 0 $border-radius 0;
      border-right: none;
    }
  }
  &__button-wrapper--one-third {
    width: 33.33%;
  }
  &__button-wrapper--one-quarter {
    width: 25%;
  }

  &__button {
    background-color: $button-background-color;
    float: left;
    font-size: 1em;
    position: relative;
    width: 100%;
    &:hover {
      background-color: lighten($button-background-color, 10%);
    }
    &.card__button--stats {
      height:79px;
    }
    &.card__button--red {
      border-top: 4px solid $willy-red;
    }

    &.card__button--green {
      border-top: 4px solid $willy-green;
    }

    &.card__button--yellow {
      border-top: 4px solid $willy-yellow;
    }

    &.card__button--blue {
      border-top: 4px solid $willy-blue;
    }
  }

  &__button-heading {
    display: block;
    margin: 6px 0 0 0;
  }
  &__button-percent {
    color: $text-color-primary;
    font-size: 1.55em;
    padding-left: 5px;
  }
  &__button-content {
    margin: 13px 9px 16px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
  }
  &__button-digit {
    font-size: 1.05em;
    color: $text-color-primary;
    &--views {
      padding-right: 9px;
    }
    &--likes {
      padding-right: 15px;
    }
    &--comments {
      padding-right: 12px;
    }
  }
  &__button-icon {
    padding-left: 22px;
    &--views {
      padding-left: 18px;
    }
  }
  &__button-percentmark {
    font-size: 0.605em;
    margin: 0;
    vertical-align: super;
  }

}
