@font-face {
  font-family: 'Ubuntu bold';
  src: url('Ubuntu-B.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu normal';
  src: url('Ubuntu-R.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('Ubuntu-Mono.ttf') format('truetype');
}