//text colors
$text-color-primary: #fff;
$text-color-secondary: #9099b7;

//background colors
$background-color: #1f253d;
$card-background-color: #394264;
$button-background-color: #50597b;

//colors
$willy-red: #E54B65;
$willy-green: #11A7AB;
$willy-yellow: #FBB14F;
$willy-blue: #4FC3F5;

//border radius
$border-radius: 5px;